<%- include('partials/header') -%>

<div class="h-full bg-gradient-to-tl from-gray-400 to-indigo-900 w-full py-16 pb-60 px-4">
    <div class="flex flex-col items-center justify-center">
      
       <a class="mr-0" href="/"><img class=" w-1/3" src="/imgs/logodone.png" alt="logo"></a>
       <a href="/logout">
        <button role="button" class="w-1/8 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Logout</button>
      </a>
      
        <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
            
            <% for (let i = 0; i < quote.length; i++) {%>
     
          <form action="/createInfo/<%= quote[i].id %>?_method=PUT" method="POST" data-multi-step class="multi-step-form">
            
             <h1 class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800" >Great news <%= user.userName%>! </h1>
             <p>We'd love to buy your car! We just need a little more information.</p>
             <h2><%= quote[i].quoteValue %></h2>
              <div class="card" data-step>
                <h3 class="step-title">Vehicle Details</h3>
                <!--<h6 class="step-title">Name on Title Will be the Name of the Payee On the Check!</h5>-->
                <div class="form-group">
                  <label for="name">Name As It Appears On Title</label>
                  <input type="text" name="name" id="milage" placeholder="Full Name">
                  <label for="state">Title State</label>
                  <select name="state">
                      <option value="">Select State</option>
                      <option value="MA">Massachusetts</option>
                      <option value="NY">New York</option>
                      <option value="CT">Connecticut</option>
                      <option value="RI">Rhode Island</option>
                      <option value="ME">Maine</option>
                      <option value="NH">New Hampshire</option>
                      <option value="VT">Vermont</option>
                      <option value="NJ">New Jersey</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="color">Vehicle Color</label>
                  <select name="color">
                      <option value="">Select Vehicle Color</option>
                      <option value="Red">Red</option>
                      <option value="Black">Black</option>
                      <option value="White">White</option>
                      <option value="Grey">Grey</option>
                      <option value="Blue">Blue</option>
                      <option value="Green">Green</option>
                      <option value="Silver">Silver</option>
                      <option value="Yellow">Yellow</option>
                  </select>
                </div>
                <button type="button" class="nextB" data-next>Next</button>
              </div>
              <div class="card" data-step>
                <h3 class="step-title">Where Are We Picking Up From?</h3>
                <div class="form-group">
                  <label for="pickup">Enter the Pickup Address</label>
                  <input type="text" name="pickup" placeholder="Street Address">
                
                  <input type="text" name="pickup" placeholder="City">
                 
                  <input type="text" name="pickup" placeholder="State">
                  <label for="pickup">Enter a Contact Number</label>
                  <input type="text" name="pickup" placeholder="(123) 456-7890">
                  <button type="button" data-previous>Previous</button>
                  <button type="submit" id="trigger"> <a class="submitlink" href="/feed">Submit</a>
                </div>
                
            </form>
            <%}%>
  
           
  
        </div>
  
            
    </div>
  </div>
  

<%- include('partials/footer') -%>